# Environment
.venv/

# Data
data/real/
data/digital/
data/results/
data/train/images/
data/valid/images/
data/test/images/
crops/
samples/

# Yolov8 run results
notebooks/colab/runs/detect/*
!notebooks/colab/runs/detect/train7/

# Pre-trained yoov8 models
yolov8n.pt

# Side scripts and additional examples
sm-example/
app.py
train.py
predict.py
rename_images.py
pdf_to_image.py
image_to_base64.py
testing_api.py
aws-lambda-image/1-testing-lambda-local-setup.ipynb
