# Environment
.venv/

# Data
data/
crops/
samples/

# Yolov8 run results
runs/detect/*
!runs/detect/train7/

# Pre-trained yoov8 models
yolov8n.pt

# Side scripts and additional examples
sm-example/
rename_images.py
pdf_to_image.py
image_to_base64.py
